$paddingTitle : 0.3rem;

header{
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--gray_bg);
    font-family: sans-serif;
    font-weight: bold;

    h1{
        width: 100%;
        padding: $paddingTitle 0 $paddingTitle 0;
        margin: 0;
        text-align: center;
        color: var(--gray_textColor_hover);
    }

    ul{
        list-style: none;
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
        color: var(--gray_textColor);

        li{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 2.5rem;

            &:hover{
                background: var(--gray_bg_hover);
                color: white;
                cursor: pointer;
            }

            a{
                color: inherit;
                text-decoration: none;
            }
        }
    }

    .btExit{
        position: absolute;
        
        height: 2rem;
        width: 2rem;

        top: 0.5rem;
        right: 0.5rem;

        z-index: 4;
        cursor: pointer;
        background-image: url( '/assets/octagon-xmark.svg' );
        opacity: 0.5;

        &:hover{
            
        height: 2.1rem;
        width: 2.1rem;

        top: 0.495rem;
        right: 0.495rem;

        opacity: 1;
        }
    }
}
