$paddingpage : 1rem;
$timeTransition : 0.5s;

$buttonSize : 1.7rem;

.formUpdateBloc{
    margin-top: 1rem;
    margin-bottom: -1rem;
    margin-left: calc( $paddingpage / -2 );
    padding: calc( $paddingpage / 2 );
    background-color: var(--dark_bg) ;
    border-radius: 10px;

    position : relative;

    &>*{
        display: block;
    }

    input{
    }

    button{
        
    }

}

h4{
    margin-bottom: 0.2rem;
    position: relative;
    width: fit-content;

}

.more{
    color: rgba(0, 0, 0, 0);
    user-select: none;
    cursor: pointer;
    background-image: none;
    padding: 0 0.5rem;
    position: relative;
    font-size: 1rem;
    
    &:hover{
        background-image: radial-gradient(circle, var(--light_bg_hover) 50%, transparent 80%, transparent 100%);
    }
}

.bloc{
    form{
        nav{
            display: flex;

            .btInfo{
                height: 1.5rem;
                width: 1rem;
                margin-left: 0.5rem;

                position: relative;
                
                background-image: url( '/assets/circle-question.svg' );
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                cursor: pointer;
            }
        }
    }

    &:hover{
        .textContainer{
            border: solid black 1px;
        }

        .more{
            color: rgba(0, 0, 0, 0.5);
        }
    }
}


.popupInfoMarkdownContainer{
    position: relative;
    z-index: 10;

    .popupInfoMarkdown{
        width: max-content;
        position: absolute;
        background-color: white;
        border: solid 1px black;
        border-radius: 5px;
        padding: 0.5rem;
        

        &>*{
            margin: 0.25rem;
            padding: 0.25rem;
            border-bottom: solid 1px black;
        }
    }
}


.textContainer{
    margin: 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    min-height: 1.1rem;
    transition: background-color $timeTransition, border-color $timeTransition ;
    background-color: transparent;
    color: var(--light_textColor);
    border: solid transparent 1px;

    &:hover{
        border: solid black 1px;
    }

    p{
        padding: 0.5rem 0;
    }
}

