<div class="bloc" *ngIf="bloc">
    
    <h4 *ngIf="!isUpdatemode">
        {{bloc.title}}
        <span class="more" (click)="onClickMore(bloc,  $event)">
            ...
            <app-float-menu *ngIf="showMoreMenu" (toHide)="onHideMenu()" (onClick)="onClickMenu( $event, bloc )" [values]="MENU_MORE_BLOC"></app-float-menu>
        </span>
    </h4>

    <app-autocomplete-reader *ngIf="!isUpdatemode" [data]="bloc" ></app-autocomplete-reader>

    <form *ngIf="isUpdatemode" #updateBlocForm="ngForm" (ngSubmit)="onSubmitUpdateBloc( bloc )" class="formUpdateBloc" >
        <nav>
            <input type="text" required name="newTitle" ngModel [(ngModel)]="newTitle" placeholder="Titre" autocomplete="off"/>
            <div class="btInfo" title="Infos Markdown" (click)="onClickinfoMarkdown( $event )">
            </div>
            <div class="popupInfoMarkdownContainer">
                <div class="popupInfoMarkdown" *ngIf="showPopupInfoMarkdown" (click)="closePopupInfoMarkdown()">
                    <p *ngFor="let texte of INFOS_MARKDOWN">{{texte}}</p>
                </div> 
            </div>
        </nav>
        
        <app-autocomplete-input [texte]="currentDesc" (textChanged)="onDescChanged( $event )"></app-autocomplete-input>


        <div class="form-group">
            <button type="submit" [disabled]="!updateBlocForm.form.valid">Valider</button>
            <button (click)="onClickCancel()">Annuler</button>
        </div>
    </form>

</div>