<div class="globalContainer">

    <div id="tableContainer">

        <table>

            <!-- 1re ligne : nom des axes -->
            <tr>
                <th>Notes</th>
                <th *ngFor="let axe of axesService.getAxes()" >
                    <div class="axeTitle">
                        <span>
                            {{axe.nom}}
                        </span>
                        <span class="more" (click)="onClickMore( axe, $event )">
                            ...
                            <app-float-menu *ngIf="idBtMore == axe.id" (toHide)="onHideMenu()" (onClick)="onClickMenu( $event )" [values]="MENU_MORE_VALUES"></app-float-menu>
                        </span>
                        
                    </div>
                </th>
            </tr>

            <!-- lignes du tableau -->
            <tr *ngFor="let ligne of axesService.getLignes()">

                <!-- Case commentaire -->
                <td>{{ligne.content}}</td>

                <!-- Case des étapes -->
                <td class="bgLine" *ngFor="let axe of axesService.getAxes()">
                    <app-etape *ngFor="let etape of axe.getEtapesOfLine( ligne.id )" [etape]="etape" ></app-etape>
                    
                </td>
            </tr>
        </table>
    </div>
</div>
