
.globalContainer{
    height: calc( 100% - 7.5rem );/* 5.5 (header - padding)*/
    background-color: var(--light_bg);
    position: relative;
    padding: 1rem;
    margin: 0;

    #tableContainer{
        height: 100%;
        width: 100%;

        table{
            border-collapse: collapse;

            th{
                padding: 0!important;
            }

            td,th{
                /*border-right: solid 1px black;*/
                border-bottom: solid 1px black;
                padding: 1rem 0;
                width: 20vw;

            }

            .axeTitle{
                width: 80%;
                border: solid 1px black;
                margin-left: 10%;
                margin-bottom: 0;
                padding: 0.3rem;
                text-align: center;
                border-radius: 3px;
                background-color: var(--light_bg);
            }

            .bgLine{
                background: linear-gradient(to right, #0000 0%, #0000 49%, #000 49%, #000 51%, #0000 51%);
            }

            tr:first-child{
                th{
                    border-bottom:0;
                }
            }

            tr:last-child{

                td{
                    border-bottom : 0
                }

                .bgLine{
                    padding: 1rem 0 3rem 0;
                    position: relative;

                    &::after{
                        width: 2rem;
                        height: 2rem;
                        display: block;
                        background-color: black;
                        content: "";
                        border-radius: 1rem;
                        margin-left: calc( 50% - 1rem );
                        border-radius: 1rem;

                        position: absolute;
                        bottom: 0;
                    }
                }
            }
        }
    }

}