$SIZE_ARROUND_END : 2rem;

.globalContainer{
    height: calc( 100% - 7.5rem );/* 5.5 (header - padding)*/
    background-color: var(--light_bg);
    position: relative;
    padding: 1rem;
    margin: 0;
    overflow: scroll;

    #tableContainer{
        height: 100%;
        width: max-content;
        display: flex;

        table{
            border-collapse: collapse;
            height: min-content;

            th{
                padding: 0!important;
            }

            td,th{
                /*border-right: solid 1px black;*/
                border-bottom: solid 1px black;
                padding: 1rem 0;
                width: 20vw;

            }

            .titreLine{
                font-weight: bold;
                display: flex;

                .btEditer{
                    width: 1rem;
                    height: 1rem;
                    margin-left: 0.5rem;
                    cursor: pointer;
                    background-image: url(/assets/pen-to-square.svg);
                    opacity: 0;
                    transition: opacity linear 0.3s;
                }

                &:hover{
                    
                    .btEditer{
                        opacity: 1;
                    }
                }
            }

            .contentLine{

            }

            .axeTitle, #formAxeCont:not(:empty){
                width: 80%;
                border: solid 1px black;
                margin-left: 10%;
                margin-bottom: 0;
                padding: 0.3rem;
                text-align: center;
                border-radius: 3px;
                background-color: var(--light_bg);
                position: relative;

                .more{
                    color: rgba(0, 0, 0, 0);
                    user-select: none;
                    cursor: pointer;
                    background-image: none;
                    padding: 0 0.5rem;
                    font-size: 1rem;
                    
                    position: absolute;
                    right: 0;
                    top: 0;
                    
                    &:hover{
                        background-image: radial-gradient(circle, var(--light_bg_hover) 50%, transparent 80%, transparent 100%);
                    }
                }

                &:hover{

                    .more{
                        color: rgba(0, 0, 0, 0.5);
                    }
                }
            }

            .bgLine{
                background: linear-gradient(to right, #0000 0%, #0000 49%, #000 49%, #000 51%, #0000 51%);
            }

            tr:first-child{
                th{
                    border-bottom:0;
                }
            }

            tr:last-child{

                td:first-child{
                    padding-bottom: 2rem;
                    position: relative;
                }

                td{
                    border-bottom : 0
                }

                .bgLine{
                    padding: 1rem 0 calc( $SIZE_ARROUND_END + 1rem ) 0;
                    position: relative;

                    &::after{
                        width: $SIZE_ARROUND_END;
                        height: $SIZE_ARROUND_END;
                        display: block;
                        background-color: black;
                        content: "";
                        border-radius: 1rem;
                        margin-left: calc( 50% - 1rem );
                        border-radius: 1rem;

                        position: absolute;
                        bottom: 0;
                    }
                }
            }
        }
    }

}

#formAxeCont{

    form{
        display: flex;

        input{
            width: calc( 100% - 3rem );
        }
    }
}

form{

    .updateLineTitle{
        margin-bottom: 1rem;
        width: calc(100% - 1rem);
    }

    .updateLineContent{
        
    }

    .form-group{
        position: relative;
        height: 2rem;
    }

    .updateLineButton, .updateAxeButton{
        height: 1.5rem;
        width: 1.5rem;
        background-image: url("/assets/check.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 75%;
        margin: 0;
        position: absolute;
        right: 1rem;
    }
}

#btAddAxe{
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: bold;
    border: solid var(--light_bg_hover) 1px;
    padding: 0;
    background-color: var(--light_bg);
    color: var(--light_bg_hover);
    cursor: pointer;
    margin: 0 2rem;

    &:hover{
        background-color: var(--light_bg_hover);
        color: var(--dark_button_bg);
        border-color: var(--dark_button_bg);
    }
    
}

#btAddLine{
    position: absolute;
    width: 100%;
    height: $SIZE_ARROUND_END;
    bottom: 0;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    opacity: 0.2;
    cursor: pointer;

    &:hover{
        opacity: 1;
        background-color: var(--light_bg_hover);
    }
}

