<div class="globalContainer">

    <div id="tableContainer">

        <table>

            <!-- 1re ligne : nom des axes -->
            <tr>
                <th>Notes</th>
                <th *ngFor="let axe of axesService.getAxes()" >{{axe.nom}}</th>
            </tr>

            <!-- lignes du tableau -->
            <tr *ngFor="let ligne of lignes">

                <!-- Case commentaire -->
                <td>{{ligne.content}}</td>

                <!-- Case des étapes -->
                <td class="bgLine" *ngFor="let axe of axesService.getAxes()">
                    <app-etape *ngFor="let etape of axe.getEtapesOfLine( ligne.id )" [etape]="etape" ></app-etape>
                    
                </td>
            </tr>
        </table>
    </div>
</div>
