<div class="createPageContainer">
    <form #createpageForm="ngForm" (ngSubmit)="onSubmit()" >

        <div class="form-group">
            <input id="inputCreateFiche" type="text" required name="titre" ngModel [(ngModel)]="titre" placeholder="Nouvelle fiche"/>
        </div>
        
        <div class="form-group" [ngClass]="!titre?'invisible':''">
        @<input type="text" name="id" ngModel [(ngModel)]="id" placeholder="id" placeholder="{{titre | idTransform }}" pattern="([A-Z]|[0-9]|_)*" (ngModelChange)="id = projectService.generateIdFromString( $event )" />
        </div>
        
        <input type="text" name="description" ngModel [(ngModel)]="description" placeholder="Description de la fiche"/>

        <p class="errorMessage" *ngIf="errorMessage">{{errorMessage}}</p>

        <button type="submit" [disabled]="!createpageForm.form.valid">Créer</button>
    </form>
</div>