$paddingpage : 1rem;
$timeTransition : 0.5s;

.createPageContainer{
    position: absolute;
    top: 0;

    padding: $paddingpage;
    margin: 0;
    width: calc( 100% - $paddingpage - $paddingpage );
    height: 100%;

    font-family: sans-serif;
}

form>*{
    display: block;
}

input{
    margin-top: 0.5rem;
    background-color: transparent;
}

*[name='titre']{
    font-size: 1.5rem;
    font-weight: bold;
    border-color: rgba( 1, 1, 1, 0);
    width: 100%;
}

*[name='id']{
    border: none;
    width: calc( 100% - 2rem );
    margin-bottom: 2rem;
}

.errorMessage{
    color: var(--error_textColor);

}

button{
    margin-top: 1rem;
    background-color: rgb(40, 44, 36);
    color: white;
    height: 2rem;
    width: 4rem;
    cursor: pointer;

    &:disabled{
        background-color: rgba(61, 61, 61, 0.8);
        cursor: no-drop;
    }

}

.invisible{
    opacity: 0;
}