$paddingpage : 1rem;
$timeTransition : 0.5s;

$buttonSize : 1.7rem;
$colorBGForm : rgb(40, 44, 36);
$colorBG : #d1d1d1;

.detailPageContainer{
    position: absolute;
    top: 0;

    padding: 0 $paddingpage;
    margin: 0;
    width: calc( 100% - $paddingpage - $paddingpage );
    height: 100%;

    font-family: sans-serif;
}

h2{
    margin-bottom: 0.3rem;
    &:hover{
        .more{
            color: rgba(0, 0, 0, 1);
        }
    }
}

#formUpdatePage{
    
    input{
        font-size: 1.5rem;
    }
    
    textarea{
        margin-top: 3.2rem;
    }
}

.formUpdateBloc{
    input{
        font-size: 1rem;
    }
    
    textarea{
        margin-top: 1rem;
    }
}

#formUpdatePage,.formUpdateBloc{
    margin-top: 1rem;
    margin-bottom: -1rem;
    margin-left: calc( $paddingpage / -2 );
    padding: calc( $paddingpage / 2 );
    background-color: $colorBGForm ;
    border-radius: 1rem;

    &>*{
        display: block;
    }

    input{
        font-weight: bold;
        background-color: $colorBG;
        border-color: rgba( 0, 0, 0, 0.2);
    }

    textarea{
        width: calc( 100% - $paddingpage - $paddingpage );
        font-size: 1rem;
        font-family: sans-serif;
        padding: 0.5rem;
        background-color: $colorBG;
    }

    button{
        margin-top: 0.5rem;
    }

}

.idLabel{
    font-size: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    opacity: 0.5;
}

h4{
    margin-bottom: 0.2rem;
    position: relative;
    width: fit-content;

}

.more{
    color: rgba(0, 0, 0, 0);
    user-select: none;
    cursor: pointer;
    background-image: none;
    padding: 0 0.5rem;
    position: relative;
    font-size: 1rem;
    
    &:hover{
        background-image: radial-gradient(circle, #bdbcbc 50%, transparent 80%, transparent 100%);
    }
}

.bloc{
    form{
        nav{
            display: flex;

            .btInfo{
                height: 1.5rem;
                width: 1rem;
                margin-left: 0.5rem;

                position: relative;
                
                background-image: url( '/assets/circle-question.svg' );
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                cursor: pointer;
            }
        }
    }

    &:hover{
        .textContainer{
            border: solid black 1px;
        }

        .more{
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

.popupInfoMarkdownContainer{
    position: relative;
}
.popupInfoMarkdown{
    width: max-content;
    position: absolute;
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    padding: 0.5rem;
    

    &>*{
        margin: 0.25rem;
        padding: 0.25rem;
        border-bottom: solid 1px black;
    }
}


.textContainer{
    margin: 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    min-height: 1.1rem;
    transition: background-color $timeTransition, border-color $timeTransition ;
    background-color: transparent;
    border: solid transparent 1px;

    &:hover{
        border: solid black 1px;
    }
}


.floatingButton {
    
    height: 2rem;
    width: auto;
    margin-top: 1rem;
    background-color: $colorBGForm ;
    color: white;
    text-decoration: none;
    border-radius: 1rem;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.5;

    max-width: 2rem;
    transition: max-width 0.5s, height 0.5s;

    &.creating{
        max-width: calc( 100% - 2 * $paddingpage );
        height: 12rem;
        width: calc( 100% - 2 * $paddingpage );
        opacity: 1;    
        display: block;
        padding-left: 1rem;
        font-weight: bold;
    }
    

    &:not(.creating):hover {
        max-width: 300px;
        opacity: 1;
    }
  
    .icon {
        margin-right: 0.5rem;
        padding: 0 0.55rem;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .text {
        white-space: nowrap;
        padding-right: 1rem;
    }
  }
  

.createBlocContainer{
    width: 100%;

    input{
        display: block;
        background-color: $colorBG;

        &[name="newTitle"]{
            border-color: rgba( 0, 0, 0, 0.2);
            font-weight: bold;
            font-size: 1rem;
        }

        &[name="newDesc"]{
            margin-top: 0.5rem;
            padding: 0.5rem;
            min-height: 1.1rem;
            width: calc( 100% - 2 * $paddingpage );
            border: none;

        }
    }

    button{
        margin-top: 1rem;
        color: black;
        background: $colorBG;
        height: 2rem;
        cursor: pointer;

        &:disabled{
            background-color: rgba(61, 61, 61, 0.8);
            color: white;
            cursor: no-drop;
        }
    }
}


/* ===== Message =====*/
.emptyPageContainer{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 7vw;
    font-family: sans-serif;
    font-weight: bold;
    color: #9f9f9f;
    user-select: none;
}