$paddingpage : 1rem;
$timeTransition : 0.5s;

$buttonSize : 1.7rem;

.detailPageContainer{
    position: absolute;
    top: 0;

    padding: 0 $paddingpage;
    margin: 0;
    width: calc( 100% - $paddingpage - $paddingpage );
    height: 100%;
    overflow-y: scroll;

    font-family: sans-serif;

    background-image: url( '/assets/petitCarreaux.png' );
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 250px auto;

    .iconFavoris{
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        
        background-image: url( '/assets/star.svg' );
        background-repeat: no-repeat;
        background-position: 100% 100%;
    }
}

h2{
    margin-bottom: 0.3rem;
    &:hover{
        .more{
            color: rgba(0, 0, 0, 1);
        }
    }
}

#formUpdatePage{
    
    margin-top: 0.83rem;

    input{
        font-size: 1.5rem;
        margin-bottom: 3.2rem;
    }
    
}



.idLabel{
    font-size: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    opacity: 0.5;
}

.more{
    color: var(--light_textColor);
    user-select: none;
    cursor: pointer;
    background-image: none;
    padding: 0 0.5rem;
    position: relative;
    font-size: 1rem;
    
    &:hover{
        background-image: radial-gradient(circle, var(--light_bg_hover) 50%, transparent 80%, transparent 100%);
    }
}

.textContainer{
    margin: 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    min-height: 1.1rem;
    transition: background-color $timeTransition, border-color $timeTransition ;
    background-color: transparent;

    p{
        padding: 0.5rem 0;
    }
}


.floatingButton {
    
    height: 2rem;
    width: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    background-color: var(--dark_bg) ;
    color: var(--dark_textColor);
    text-decoration: none;
    border-radius: 1rem;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    opacity: 0.5;

    max-width: 2rem;
    transition: max-width 0.5s, height 0.5s;

    &.creating{
        border-radius: 10px;
        max-width: calc( 100% - 2 * $paddingpage );
        height: 12rem;
        width: calc( 100% - 2 * $paddingpage );
        opacity: 1;    
        display: block;
        padding-left: 1rem;
        font-weight: bold;
    }
    

    &:not(.creating){

        cursor: pointer;
        &:hover {
            max-width: 300px;
            opacity: 1;
        }
    }
  
    .icon {
        margin-right: 0.5rem;
        padding: 0 0.55rem;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .text {
        white-space: nowrap;
        padding-right: 1rem;
        user-select: none;
    }
  }
  

.createBlocContainer{
    width: 100%;

    input{
        display: block;
        background-color: var(--light_bg);
        color: var(--light_textColor);
        margin-bottom: 0.5rem;

        &[name="newTitle"]{
            border-color: rgba( 0, 0, 0, 0.2);
            font-weight: bold;
            font-size: 1rem;
        }

        &[name="newDesc"]{
            margin-top: 0.5rem;
            padding: 0.5rem;
            min-height: 1.1rem;
            width: calc( 100% - 2 * $paddingpage );
            border: none;

        }
    }
}


/* ===== Message =====*/
.emptyPageContainer{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 7vw;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--light_bg_textColor);
    user-select: none;
}




    
