<div class="detailPageContainer">

    <!-- Nom de la page -->
    <h2 *ngIf="!updatePage">
        {{page?.titre}}
        <span class="more" (click)="onClickMorePage($event)">
            ...
            <app-float-menu *ngIf="idBlocMenu=='0'" (toHide)="onHideMenu()" (onClick)="onClickMenuPage( $event )" [values]="MENU_MORE_PAGE"></app-float-menu>
        </span>
    </h2>

    <!-- Formulaire update page -->
    <form *ngIf="updatePage && !createPage" #updatePageForm="ngForm" (ngSubmit)="onSubmitUpdatePage()" id="formUpdatePage" >
        <input type="text" required name="newTitle" ngModel [(ngModel)]="newTitle" placeholder="Titre" autocomplete="off"/>
        <textarea name="newDesc" ngModel [(ngModel)]="newDesc"  placeholder="Description de la fiche"></textarea>
        
        
        <div class="form-group">
            <button type="submit" [disabled]="!updatePageForm.form.valid">Valider</button>
            <button (click)="onClickCancel()">Annuler</button>
        </div>
    </form>


    <!-- ID de la page -->
    <p *ngIf="!updatePage" class="idLabel">@{{id}}</p>


    <!-- Description de la page -->
    <div *ngIf="!updatePage" class="textContainer">{{page?.description}}</div>


    <!-- Blocs -->
    <div *ngFor="let bloc of page?.blocs" class="bloc">
        <h4 *ngIf="updateBloc != bloc.id">
            {{bloc.title}}
            <span class="more" (click)="onClickMore(bloc,  $event)">
                ...
                <app-float-menu *ngIf="idBlocMenu==bloc.id" (toHide)="onHideMenu()" (onClick)="onClickMenu( $event, bloc )" [values]="MENU_MORE_BLOC"></app-float-menu>
            </span>
        </h4>
        <div  *ngIf="updateBloc != bloc.id" class="textContainer">{{bloc.texte}}</div>

        <form *ngIf="updateBloc == bloc.id" #updateBlocForm="ngForm" (ngSubmit)="onSubmitUpdateBloc( bloc )" class="formUpdateBloc" >
            <input type="text" required name="newTitle" ngModel [(ngModel)]="newTitle" placeholder="Titre" autocomplete="off"/>
            <textarea name="newDesc" ngModel [(ngModel)]="newDesc"  placeholder="Description"></textarea>
            
            <div class="form-group">
                <button type="submit" [disabled]="!updateBlocForm.form.valid">Valider</button>
                <button (click)="onClickCancel()">Annuler</button>
            </div>
        </form>
        
    </div>


    <!-- Bouton Ajouter un bloc -->
    <div class="floatingButton" *ngIf="page" [ngClass]="createPage?'creating':''" (click)="onClickCreateBloc()">
        <span *ngIf="!createPage" class="icon">+</span>
        <p class="text">Ajouter un bloc</p>

        <div *ngIf="createPage && !updatePage" class="createBlocContainer">
            <form #createBlocForm="ngForm" (ngSubmit)="onSubmitNewBloc()" >
                <input type="text" required name="newTitle" ngModel [(ngModel)]="newTitle" placeholder="Titre" autocomplete="off"/>
                <input type="text" name="newDesc" ngModel [(ngModel)]="newDesc" placeholder="Description" autocomplete="off"/>
                <button type="submit" [disabled]="!createBlocForm.form.valid">Valider</button>
            </form>
        </div>
      </div>
</div>