
.etape{
    width: 80%;
    border: solid 1px black;
    margin-left: 10%;
    margin-bottom: 0.3rem;
    border-radius: 3px;
    background-color: var(--light_bg);
    font-family: sans-serif;

    .btUp, .btDown{
        height: 1rem;
        width: 100%;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: var(--light_bg_hover);
        opacity: 0;

        &:hover{
            opacity: 1;
        }

    }

    .btUp{
        background-image: url(/assets/caret-up.svg);

        &:hover{
            background-image: url(/assets/caret-up-white.svg);
        }
    }

    .btDown{
        background-image: url(/assets/caret-down.svg);

        &:hover{
            background-image: url(/assets/caret-down-white.svg);
        }
    }

    
    &:hover{
        /*Masquage des fleches aux extrémités dans styles.css*/
        .btUp:not(:hover),.btDown:not(:hover){
            opacity: 0.5;
        }
    }

    .etapeContent{


        width: calc( 100% - 0.6rem );
        padding: 0.3rem;
        text-align: center;

        .titre,.updateName {
            font-weight: bold;
            margin: 0;
            position: relative;

            .titreContent{
                width: calc( 100% - 2rem );
                display: block;
            }
            
            .btEdit{
                height: 1rem;
                width: 1rem;
                background-image: url(/assets/pen-to-square.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

                opacity: 0;
                cursor: pointer;
                padding: 0 0.5rem;

                
                position: absolute;
                right: 0;
                top: 0;
                
                &:hover{
                    opacity: 1;
                }
            }
        }

        &:hover{
            .btEdit:not(:hover){
                opacity: 0.5;
            }
        }

        .content{
            margin: 0;
            margin-top: 1rem;
        }

        &.plie{
            .content{
                background: -webkit-linear-gradient(black, black, var(--light_bg));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                height: 3rem;
                cursor: pointer;

                &:hover{
                    background: var(--light_bg_hover);
                    overflow: hidden;
                    -webkit-background-clip: initial;
                    -webkit-text-fill-color: initial;
                }
            }
        }
    }
    
    
}

form{
    display: flex;
    flex-direction: column;

    .updateName{
        text-align: center;
    }

    .updateContent{
        margin-top: 1.5rem;
    }

    .updateButton{
        background-image: url(/assets/check.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 90%;
    }
}

