<div [ngClass]="{'plie' : etape && etape.content.length > 80}" class="etape">

    <div class="btUp" (click)="up()"></div>

    <div class="etapeContent">
         <p  *ngIf="!isUpdate" class="titre">
            <span class="titreContent">
                {{etape?.title}}
            </span>
            <span class="btEdit" (click)="update()" ></span>

        </p>
        
        <app-autocomplete-reader *ngIf="!isUpdate" [data]="{texte : etape?.content|| ''}" (clickLink)="onClickLink( $event )"></app-autocomplete-reader>

        <form *ngIf="isUpdate" (ngSubmit)="onSubmit()">
                    
            <input type="text" required name="nameEtape" ngModel [(ngModel)]="nameEtape" autofocus  placeholder="Nom de l'étape" autocomplete="off" class="updateName"/>

            <app-autocomplete-input class="updateContent" [texte]="contentEtape" (textChanged)="onDescChanged( $event )"></app-autocomplete-input>
            <button type="submit" class="buttonBlack updateButton"></button>
        </form>
    </div>
   
    <div class="btDown" (click)="down()"></div>

</div>
