$arboSeparateur : 3px;
$widthArbo : 15%;

.globalContainer{

    height: calc( 100% - 5.5rem );
    display: flex;

    &>*{
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .arboContainer{
        width: $widthArbo;
        border-right: solid black 1px;

        color: var(--dark_textColor);

        font-family: sans-serif;
        font-weight: bold;

        .searchContainer{
            padding: 0;
            margin: 5px 0;
            position: relative;
            width: 100%;

            display: flex;
            flex-flow: column wrap;
            align-items: center;

            .inputSearch{
                width: 95%;
                line-height: 1.5rem;
            }

            .searchResult{
                width: 100%;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 1.5rem;
                background: white;
                z-index: 5;
                color: black;
                font-weight: normal;

                li{
                    padding: 0.25rem;
                    border-top: solid black 1px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    cursor: pointer;

                    &:hover{
                        background-color: rgb(235, 234, 234);
                    }
                }
            }
        }
    }

    .contentContainer{
        width: calc( 100% - $widthArbo - $arboSeparateur );
        background-color: var(--light_bg);
        position: relative
    }

    ul{
        list-style: none;
        padding-inline-start: 1rem;
    }
}

