$arboSeparateur : 3px;
$widthArbo : 15%;

.globalContainer{

    height: calc( 100% - 5.5rem );
    display: flex;

    &>*{
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .arboContainer{
        width: $widthArbo;
        border-right: solid black 1px;

        color: var(--dark_textColor);

        font-family: sans-serif;
        font-weight: bold;
    }

    .contentContainer{
        width: calc( 100% - $widthArbo - $arboSeparateur );
        background-color: var(--light_bg);
        position: relative
    }

    ul{
        list-style: none;
        padding-inline-start: 1rem;
    }
}

