$btSize : 5rem;
$DELAY_IN:1.5s;

.accueilContainer{
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;


    #projectsContainer{
        height: 80vh;
        width: 80vh;
        position: relative;

        .buttonContainer{
            height: $btSize;
            width: $btSize;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            border-radius: 2.5rem;
            border: solid white 1px;
            background-color: transparent;
            
            opacity: 1;

            display: flex;
            justify-content: space-around;
            align-items: center;
            color: white;

            &>*{
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
                border: none;
                background-color: transparent;

            }

            &:has(#btAdd){
                transition: opacity 1.5s linear $DELAY_IN;
                background-color: black;

                &:hover{
                    color: black;
                    background-color: white;
                }
            }

            &:has(.loader){
                transition: opacity 1s linear 0.2s;
            }

            &:has(.error){

                color: red;
                border-color: red;
                display: flex;
                flex-wrap: wrap;
                
                opacity: 0;
                transition: opacity 1.5s linear $DELAY_IN;

                .error{
                    width: 100%;
                    line-height: 4.5rem;
                    text-align: center;
                    font-size: 5rem;
                    position: relative;
                    font-family: monospace;
                    font-weight: bold;
                    user-select: none;
                }

                .msg{
                    padding: 1rem 0 0 0;
                    width: max-content;

                    a{
                        display: block;
                        width: max-content;
                    }
                }
            }

            #btAdd{
                font-weight: bold;
                font-size: 5rem;
                line-height: $btSize;
                font-family: fantasy;
                cursor: pointer;
                color: inherit;
            }

            .loader{
                color: white;
                font-size: 45px;
                text-indent: -9999em;
                overflow: hidden;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                position: relative;
                transform: translateZ(0);
                animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
            }
        }

        &:not(.loaded)>.buttonContainer{
            
            &:has(#btAdd){
                opacity: 0;
            }

        }

        &.loaded>.buttonContainer{
            
            &:has(.loader){
                opacity: 0;
            }
            
            &:has(#btAdd){
                z-index: 1;
            }

        }

        &.error>.buttonContainer{
            
            &:has(.loader), &:has(#btAdd){
                opacity: 0;
            }

            &:has(.error){
                opacity: 1;
            }
        }

        .btProjectContainer{
            position: absolute;
            height: $btSize;
            width: $btSize;
            border-radius: calc( $btSize / 2 );

            cursor: pointer;
            opacity: 0;
            transition: opacity linear $DELAY_IN;

            line-height: $btSize;
            text-align: center;
            font-size: 4rem;
            font-family: 'absender1';


            border: solid black 1px;
            background-color: gray;

            border: solid white 1px;

            &:hover{
                font-size: 4.5rem;
            }
        }
    }
}


@keyframes mltShdSpin {
    0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
    -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
    -0.749em -0.34em 0 -0.477em;
    }
    38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
    -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
    -0.82em -0.09em 0 -0.477em;
    }
    100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}



/* Boutons */
.btProjectContainer {

    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    z-index: 0;
    
    .after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #191919;
        border-radius: 2.5rem;
    }

    .before {
        content: "";
        position: absolute;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        top: -5px;
        left: -5px;
        
        background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
        );
        
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        animation: glowingbn5 20s linear infinite;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        border-radius: 2.5rem;

    }

    .nameContainer{

        font-size: 1rem;

        position: absolute;
        width: 200%;
        left: calc( -100% + 2.5rem );
        color: black;
        line-height: 1.5rem;

        display: flex;
        justify-content: space-around;
        align-items: center;

        opacity: 0;
        transition: opacity linear 0.3s;

        .name{
            background-color: white;
            padding: 0 0.5rem;
            border-radius: 5px;
            font-family: monospace;
        }
    }

    &:hover{
        .nameContainer{
            opacity: 1;
        }
    }
    

    &.red>.before{
        background-image: linear-gradient(
            45deg, 
            #ff0000, 
            #c50404, 
            #940c0c, 
            #c504047d, 
            #e60f0fc4, 
            #ff0000
        );
    }

    &.green>.before{
        background-image: linear-gradient(
            45deg,
            #48ff00,
            #31a303,
            #3585167d,
            #52e717c4,
            #48ff00,
        );
    }

    &.orange>.before{
        background-image: linear-gradient(
            45deg,
            #ff7300,
            #a14b05,
            #944c117d,
            #e67418c4,
            #ff7300
        );
    }

    &.yellow>.before{
        background-image: linear-gradient(
            45deg,
            #fffb00,
            #b1ae04,
            #8d8b0c7d,
            #dfdc27c4,
            #fffb00,
        );
    }
    
    &.turquoise>.before{
        background-image: linear-gradient(
            45deg,
            #00ffd5,
            #05af93,
            #12816f7d,
            #21dabbc4,
            #00ffd5,
        );
    }

    &.blue>.before{
        background-image: linear-gradient(
            45deg,
            #002bff,
            #0522af,
            #1626797d,
            #1e3cd1c4,
            #002bff,
        );
    }

    &.violet>.before{
        background-image: linear-gradient(
            45deg,
            #7a00ff,
            #5505aa,
            #4011727d,
            #721ad1c4,
            #7a00ff,
        );
    }

    &.rose>.before{
        background-image: linear-gradient(
            45deg,
            #ff00c8,
            #aa0486,
            #8f18757d,
            #db25b4c4,
            #ff00c8,
        );
    }
    
}
  

  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
